.filemanager-image{
    width: 100%;
}

.prod-img button{
    width: 48%;
}

.img-ramk{
    position: relative;
}
.main-image:after{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    text-align: center;
    font-size: 64px;
    width: 100%;
    color: #85CE36;
    content: '\f14a';
    opacity: .7;
    font-family: "FontAwesome";
}
img.choosed{
    cursor: zoom-in;
}
.zoom:focus{
    outline: none;
}
.color-picker{
    display: inline-block;
    height: 15px;
    border: #ccc 1px solid;
    width: 100%;
}

.in-store label {
    display: inline-block;
    width: 100%;
    background: #fff;
    padding: 6px 15px;
    text-align: center;
}
.in-store label > input {
    display: none;
}
.in-store label i {
    display: inline-block;
    padding: 2px;
    width: 40px;
    height: 20px;
    border-radius: 13px;
    vertical-align: middle;
    transition: .25s;
    position: relative;
    background: #d8d9db;
    box-sizing: initial;
}
.in-store label i:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 2px;
    transition: .25s;
}
.in-store label > input:checked + i {
    background: #4bd865;
}
.in-store label > input:checked + i:after {
    left: 22px;
}
.in-store label:hover {
    cursor: pointer;
}