.language{
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 10000000000;
}

.language ul li{
	display: inline-block;
}

.language ul li a{
	padding: 0  2px;
	color: #93939e!important; 
}

.whiteShadow{
	padding-bottom: 3px!important;
	text-shadow: 0px 1px 0px white;
	border-bottom: 2px solid #df445e;
}

.uiSuccess{
	position: fixed;
	z-index: 10000000000000000;
	top: 43px;
	left: 15px;
	border-bottom: 2px solid #df445e;	
	text-shadow: 0px 1px 0px white;
	font-size: 23px;
	cursor: pointer;
}