.language{
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 10000000000;
}

.language ul li{
	display: inline-block;
}

.language ul li a{
	padding: 0  2px;
	color: #93939e!important; 
}

.whiteShadow{
	padding-bottom: 3px!important;
	text-shadow: 0px 1px 0px white;
	border-bottom: 2px solid #df445e;
}

.uiSuccess{
	position: fixed;
	z-index: 10000000000000000;
	top: 43px;
	left: 15px;
	border-bottom: 2px solid #df445e;	
	text-shadow: 0px 1px 0px white;
	font-size: 23px;
	cursor: pointer;
}

.colorSpan{
	height: 12px;
	width: 81px;
	display: inline-block;
	margin-left: 12px;
	border-radius: 5px;
}

.forSearchLoad{
	position: relative;
}

.afterSearch{
	opacity: 0.4;
}
.forSearchLoadCover{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999999999;
	background: #ededf6a6;
}

.dropdown-menu.show {
	max-height: 400px!important;
	overflow-y: scroll !important;
}

.pagination{
	align-items:center;
	justify-content:center;
	margin:0;
	padding-top:3px;
	display:flex;
	padding-left:0;
	list-style:none;
	border-radius:.25rem
}
.pagination>li {
	display:block;
	border-color:transparent
}

.pagination>li>a{
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-ms-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
	border:1px solid #dee2e6;
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
	color:#93939e;
	font:19px montserrat_r;
	height:48px !important;
	line-height:48px !important;
	width:48px !important;
	margin: 0 2px;
	text-align:center;
	display: inline-block;
}

.pagination>li>span{
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-ms-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
	background-position:center;
	background-repeat:no-repeat;
	color:#93939e;
	font:19px montserrat_r;
	height:48px !important;
	line-height:48px !important;
	width:48px !important;
	margin: 0 4px;
	text-align:center;
	display: inline-block;
}
.pagination>li>a:hover{
	color:#444;
	border-color: #999;
}

@media (max-width: 1000px){
	.pagination>li>a, .pagination>li>span{
		height:40px !important;
		line-height:40px !important;
		width:40px !important;
		font:17px montserrat_r;
	}
}

@media (max-width: 700px){
	.pagination>li>a, .pagination>li>span{
		height:34px !important;
		line-height:34px !important;
		width:34px !important;
		font:15px montserrat_r;
	}
}

@media (max-width: 600px){
	.pagination>li>a, .pagination>li>span{
		height:27px !important;
		line-height:27px !important;
		width:27px !important;
		font:14px montserrat_r;
	}
}

@media (max-width: 500px){
	.pagination>li>a, .pagination>li>span{
		height:21px !important;
		line-height:21px !important;
		width:21px !important;
		font:13px montserrat_r;
	}
}

@media (max-width: 410px){
	.pagination>li>a, .pagination>li>span{
		height:16px !important;
		line-height:16px !important;
		width:16px !important;
		font:10px montserrat_r;
	}
}
@media (min-width: 1000px){
	.pagination>li>a, .pagination>li>span{
		height:45px !important;
		line-height:45px !important;
		width:45px !important;
		font:17px montserrat_r;
	}
}

@media (min-width: 1700px){
	.carousel__btn {
		top: 0 !important;
	}
	.carousel__btn--next{
		margin-right: -75px!important;
	}
	.carousel__btn--prev{
		margin-left: -75px !important;
	}
	.carousel {
    padding-top: 100px !important;
}
}